body{
    height: 100vh;
    display: grid;
    grid-template-rows: 10% 80% 10%;
}

header{
    background-color: tomato;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

main{
    background-color: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

footer{
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}